<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154412755372-okb2kuir2ubv2s5m1ec0u8vblekmjosm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154412755372-okb2kuir2ubv2s5m1ec0u8vblekmjosm</string>
	<key>API_KEY</key>
	<string>AIzaSyBRXvZKDC2DKpVy13dDBsTh-JOOZ70N088</string>
	<key>GCM_SENDER_ID</key>
	<string>154412755372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passerbo.cofit</string>
	<key>PROJECT_ID</key>
	<string>cofit-lmdyd</string>
	<key>STORAGE_BUCKET</key>
	<string>cofit-lmdyd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154412755372:ios:5b994b758606edf0017209</string>
</dict>
</plist>